*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    overflow:hidden;
}
section{
    width:100%;
    height:100%;
    position:absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(to bottom,#ff4f8b,#dff1ff);
}
section::before{
    content:'';
    position:absolute;
    width:100%;
    height:100%;
    bottom:0;
    z-index: -1;
    border-top:1px solid rgba(255,255,255,0.5);
    background:rgba(255,255,255,0.1);
    backdrop-filter:blur(10px);

       
}
section .color{
    position:absolute;
    filter:blur(150px);
}
section .color:nth-child(1){
    top:-350px;
    background-color: #ff359b;
    width:600px;
    height:600px;
}
section .color:nth-child(2){
    bottom:-150px;
    right:100px;
    background:#fffd87;
    width:500px;
    height:500px;

}
section .color:nth-child(3){
    bottom:-50px;
    right:0;
    background:#00d2ff;
    width:300px;
    height:300px;

}
ul{
    position: relative;
    display:flex;
}

form{
    position:absolute;
    display:flex;
}
form{
    width:25rem;
    height:39rem;
    display:flex;  
    flex-direction: column;
    background:rgba(255,255,255,0.06);
    box-shadow:0 8px 32px 0 rgba(31,38,135,.37);
    border-radius:30px;
    border-left:1px solid rgba(255,255,255,.3);
    border-top:1px solid rgba(255,255,255,.3);
    margin:50px 0 0 550px;

}
form:before{
    content:'';
    position:absolute;
    bottom:3%;
    right:28%;
    width:200px;
    height:200px;
    background: magenta;
    border-radius:50%;
    z-index:-1;
    opacity: .8;
}
form:after{
    content:'';
    position:absolute;
    top:8%;
    left:32%;
    width:120px;
    height:120px;
    background: magenta;
    border-radius:50%;
    z-index:-1;
    opacity: .8;
}
h1{
    text-align: center;
    font-size: 50px;
    text-shadow:2px 2px 4px rgba(0,0,0,.2);
    letter-spacing: 3px;
    margin-bottom: 5%;
    color:white;
    opacity: .7;
}
label{
    font-size:20px;
    color:white;
    margin-left:10%;
    opacity: .8;
    text-shadow:2px 2px 4px rgba(0,0,0,.2) ;
}
input{
    width:80%;
    margin:5% auto;
    margin-bottom: 8%;
    border:none;
    outline:none;
    background:transparent;
    color:white;
    border-bottom:1px solid rgba(255,255,255,0.6);
    opacity: 0.8;
}
button{
    width:50%;
    margin:3% auto;
    color:white;
    font-size:15px;
    opacity: .8;
    background:rgba(255,255,255,0.06);
    background-color:red;
    padding:10px 30px;
    border:none;
    outline:none;
    border-radius: 30px;
    text-shadow: 2px 2px 4px rgba(255,255,255,0.2);
    box-shadow: 3px 3px 5px rgba(31,38,135,.37);
    border-left:1px solid rgba(255,255,255,.3);
    border-top:1px solid rgba(255,255,255,.3);
}
a{
    font-size:12px;
    text-align:center;
    color:white;
    opacity:0.7;
}